DJANGO_SETTINGS_MODULE=ghorkhoje.settings

SECRET_KEY=your_secret_key__can_leave_like_this_for_testing

# Allowed hosts
ALLOWED_HOSTS=127.0.0.1,localhost,yourdomain.com,www.yourdomain.com
ENVIRONMENT=development

# CORS / CSRF
CORS_ALLOWED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com,http://localhost:3000
CSRF_TRUSTED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com,http://localhost:3000

# Database connection (using the external URL hostname)
HOST_NAME=db
PORT=5432
DATABASE=ghor_khojee_db
DB_USER=ghor_khojee_admin
PASSWORD=zCQrIjQ8uR2wpB9EJfaecz59vED5hwAA
DEBUG=False

# Claudinary
CLOUDINARY_CLOUD_NAME=for_local_its_not_needed__just_the_variable_needs_to_be_present
CLOUDINARY_API_KEY=for_local_its_not_needed__just_the_variable_needs_to_be_present
CLOUDINARY_API_SECRET=for_local_its_not_needed__just_the_variable_needs_to_be_present

# Email settings
EMAIL_HOST_USER=your@email.com
EMAIL_HOST_PASSWORD=email_app_password

# Neon Tech
NEON_DB=for_local_its_not_needed__just_the_variable_needs_to_be_present
NEON_DB_NAME=neondb
NEON_DB_USER=for_local_its_not_needed__just_the_variable_needs_to_be_present
NEON_DB_PASSWORD=for_local_its_not_needed__just_the_variable_needs_to_be_present
NEON_DB_HOST=for_local_its_not_needed__just_the_variable_needs_to_be_present
NEON_DB_PORT=5432
