media/*
*/media/*
*/downloads/*
venv/
env
static/
static_root/
*/migrations/*.py
!*/migrations/__init__.py
migrations
__pycache__

*.pyc
.idea/
.vscode/
.sql
*.sqlite3
.DS_Store
*.db

rnd/*

# Add these lines to your .gitignore file
.env
*.env